.load {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}
.load hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite;
}
.load > :first-child {
  background: #2e19a6;
  animation-delay: -1.5s;
}
.load > :nth-child(2) {
  background: #563af6;
  animation-delay: -1s;
}
.load > :nth-child(3) {
  background: #6543fd;
  animation-delay: -0.5s;
}
.load > :last-child {
  background: #593ea3;
}
@keyframes spin {
  0%,
  100% {
    transform: translate(0);
  }
  25% {
    transform: translate(160%);
  }
  50% {
    transform: translate(160%, 160%);
  }
  75% {
    transform: translate(0, 160%);
  }
}

.loader_container {
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #05000f;
}

.loader_container > .title {
  top: 60%;
  position: absolute;
  color: white;
  left: 0;
  right: 0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
